# files to ignore: any backups, class files, and .DS_Stores from Mac users.
*~
*.class
*.DS_Store
__pycache__

# ignore the models
datasets/*/train/models/*

# ignore AUC outputs
datasets/*/test/AUC/*

# ignore log files, results, dribble, queries, and gleaner.
datasets/*/test/test_infer_dribble.txt
datasets/*/train/train_gleaner.txt
datasets/*/train/train_learn_dribble.txt
datasets/*/train/.mln
datasets/*/test/query_*
datasets/*/test/results_*

# ignore semi-temporary files
Results.txt
testlog.txt
trainlog.txt
precomputed.txt
recomputed.txt
